.selectedProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.selectedProductImage img {
    width: 500px;
    height: 500px;
}

.selectedProductInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}